html, body {padding: 0; margin: 0;}

* 
{
    box-sizing: border-box;
}

section
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.test_preview
{
  background: white; 
  border-radius: 7px;
  padding: 15px;
  margin: 10px 10px;
}
.test_preview a
{
  color: black;
  text-decoration: none;
  color: #5e5d73;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}
.test_preview section
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    border-bottom: 1px solid gray;
    z-index: 9999;
}

.header-2
{
  overflow: visible;
  background-color: white;
  height: 60px;
  z-index: 9999;
  
  position: fixed; 
  top: 0;
  width: 100%; 
  
  display: none;
}

.header-2 a 
{
	float: left;
	padding-left: 3.5%;
	padding-right: 3.5%;
	padding-top:10px;
}

.header-2 img
{
	height: 40px;
}

.headerNavigation2
{
  padding-top:10px;
}

.headerNavigation2 a 
{
  color: black;
  text-decoration: none;
  font-family: Oswald;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.headerNavigation2 a:hover {
  color: orange;
}

.headerNavigation2 a.active 
{
  color: red;
}

/* якщо ширина екрану користувача менша, ніж 500 пікселів, змістити кнопки одне на одного */
@media screen and (max-width: 500px) {
  .header-2 a {
    float: none;
    display: block;
    text-align: left;
  }
  .headerNavigation2 {
    float: none;
  }
}




.header-1
{
  overflow: hidden;
  background-color: white;
  display: block;
  z-index: 9999;
}

.header-1 a 
{
  text-align: center;
  display:block;
}

.headerNavigation 
{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
}

.headerNavigation a 
{
  float: left;
  color: black;
  padding-left: 7%;
  padding-right: 6%;
  text-decoration: none;
  font-family: Oswald;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  width:25%;
}

.headerNavigation a:hover {
  color: orange;
}

.headerNavigation a.active 
{
  color: red;
}

/* якщо ширина екрану користувача менша, ніж 500 пікселів, змістити кнопки одне на одного */
@media screen and (max-width: 500px) {
  .header-1 a {
    float: none;
    display: block;
    text-align: left;
  }
  .headerNavigation {
    float: none;
  }
}



/* стиль таблиці */
table 
{
   border-collapse: collapse;
   /*прибирає проміжки між комірками*/
   border: 0px solid grey;
}

h1 
{
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: bold;
}
	
section h2
{
	text-align: left;
	padding-left: 40px;
	font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: lighter;
}
section h3 
{
	font-family: Oswald, sans-serif;
	font-weight: 200;
	text-align: left;
	padding-left: 40px;
	color:black;
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#tabs 
    {
      margin: 10px 0;
    }
    .tabs-nav 
    {
      display: flex;
      margin: 0;
      padding: 0;
      flex-flow: row wrap;
      
      font-family: Oswald;
    }
    .tabs-nav article 
    {
      margin: 0;
      padding: 0;
    }    
    .tabs-nav a 
    {
      display: block;
      padding: 7px 0px;
      border-bottom: 1px solid black; 
      font-size: 18px;
      text-decoration: none;
      text-align: center;
      color: black;
    }
    .tabs-nav a:hover 
    {
      color: orange;
    }      
    .tabs-nav article:first-child a 
    {
      border-radius: 0px 0 0 0; 
    }
    .tabs-nav article:last-child a 
    {
      display: block;
      border-right: 0px solid #ccc;
      border-radius: 0 0px 0 0; 
    }
    .tabs-nav a.active 
    {
      background: #fff;
      color: red;
    }    
    .tabs-item 
    {
      padding: 15px;
    }

.body form
{
  text-align:center;
}

.body form section
{
  display: flex;
}

.body form section h1
{
  padding: 30px;
}

.body form section button
{
  margin-top: 10px;
}


.button-global {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    max-width: 250px;
    padding: 0 22px;
    height: 58px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    border: none;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.ai-center
{
  align-items: center;
}

.as-start
{
  align-self: flex-start;
}

.as-end
{
  align-self: flex-end;
}

.jc-center
{
  justify-content: center;
}

.roboto
{
      font-family: 'Roboto', sans-serif;
}

.font-weight-500
{
      font-weight: 500;
}

.font-weight-400
{
      font-weight: 400;
}

.color-white
{
  color: white;
}


    /* Style the input fields */
    input {
      padding: 10px;
      width: 100%;
      font-size: 17px;
      font-family: Raleway;
      border: 1px solid #aaaaaa;
    }

    /* Mark input boxes that gets an error on validation: */
    input.invalid {
      background-color: #ffdddd;
    }

    /* Hide all steps by default: */
    .tab {
      display: none;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }

    /* Mark the active step: */
    .step.active {
      opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
      background-color: #04AA6D;
    }